<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: 21_BasicWhite (10.1)</string>
	<string>M10.1-6913-2</string>
	<string>M10.3.9-7029.9.8-5</string>
	<string>M10.1-6913-2</string>
	<string>M10.3.9-7029.9.8-5</string>
	<string>M10.1-6913-2</string>
	<string>G-r1020-10DF16</string>
	<string>M10.1-6913-2</string>
	<string>M10.3.9-7029.9.8-5</string>
	<string>M10.1-6913-2</string>
	<string>M10.3.9-7029.9.8-5</string>
	<string>M10.1-6913-2</string>
	<string>M10.3.9-7029.9.8-5</string>
	<string>M11.0-7030.0.94-2</string>
	<string>M11.1-7031.0.102-2</string>
	<string>G-r1320-13C165</string>
	<string>G-r1410-14B91</string>
</array>
</plist>
